body{
      /* margin-bottom: 75vh; */
      background-color:#56baed;;
}
.main{
      margin-top: 10vh;
      background-color: white;
}

tr:hover, tr.selected {
    background-color: #ff8888d5;
    cursor: pointer;
    color: white;
    /* font-weight: bold;  */
}

h4{
      color: rgb(0, 0, 0);
}

h5{
      color: rgb(0, 0, 0);
}

h1{
      color: rgb(0, 0, 0);
}

h3{
      color: rgb(0, 0, 0);
}

h2{
      color: rgb(0, 0, 0);
}

p{
      color: rgb(0, 0, 0);
}

label{
      color: rgb(0, 0, 0);
}

.header{    
      margin-top: 5vh;
}

.button-back{
      font-size: 18px;
      font-weight: bold;
      /* background-color: white; */
      padding: 10px;
}

.button-back a{
      text-decoration: none;
      color: white;
      background-color: #343a40;
      padding: 5px;
}

.title{
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      background-color: white;
      padding: 10px;
}

.row-custom{
      padding: 50px 50px;
}

.img-info{
      height: 30%;
      width: 100%;      
}

.figure{
      width: 160px;
}

.data{
      height: 30%;
      width: 100%;
}

.btn-custom{
      height: 10%; width: 100%; background-color: #343a40;
      display: none;
}